@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

:root{
  --header-height: 90px;
}

.App{
  background: #FFF;
  height: 100vh;

  /*Layout em Grid */ 
  display: grid;
  grid-template-rows:
  var(--header-height)
  1fr
  50px;
  grid-template-areas: 
  "Header"
  "pageContent"
  "Footer";
  
}
