@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

:root{
  --header-height: 50px;
  --footer-height: 40px;
  --header-bgColor:rgb(102, 92, 196);
  --header-fontColor:rgb(68, 99, 240);
  --footer-bgColor: rgb(216, 210, 242);

  --shadow: 
  0 2px 23px 0 rgba(0, 0, 0, 0.1),
  0 2px 49px 0 rgba(0, 0, 0, 0.1);
}

.App{
  background: #FFF;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows:
   var(--header-height)
   1fr
   var(--footer-height) ;
   grid-template-areas:
    "Header"
    "Content1"
    "Footer"
   ;
}

header.Header{
  grid-area: Header;
}
main.Content{
  grid-area: Content1;
}
footer.Footer{
  grid-area: Footer;
}

@media only screen and (max-width: 550px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 60px ;
    grid-template-areas:
    "Header"
    "Content1"
    "Footer";
  }
}